.container {
  padding: var(--px40) 0;
}

.wrapper {
  padding: 0;
}

.title {
  display: flex;
  gap: var(--px16);
  align-items: center;
  margin-bottom: var(--px24);
  padding: 0 var(--px20);
}

.title svg {
  width: var(--px32);
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--px16);
  padding-block: var(--px8);
  overflow-x: auto;
}

.products li:first-child {
  margin-left: var(--px20);
}
.products li:last-child {
  margin-right: var(--px20);
}

@media (max-width: 1100px) {
  .products {
    grid-auto-flow: column;
    grid-template-columns: unset;
    grid-auto-columns: 20rem;
  }
}

@media (max-width: 500px) {
  .title h2 {
    font-size: 1.4rem;
  }

  .products {
    grid-auto-columns: 300px;
  }
}
