.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: var(--px64) auto;
}

.title {
  grid-column: 2 / span 5;
}

.title h2 {
  margin-bottom: var(--px12);
}

.links {
  grid-column: 8 / span 4;
  display: flex;
  flex-direction: column;
  gap: var(--px16);
}

.links a {
  display: flex;
}
.links a:focus {
  outline: 2px solid var(--lneutral-xdark);
  outline-offset: 4px;
  border-radius: 8px;
}

.icon {
  padding: var(--px12);
  border-radius: 8px 0 0 8px;
  transition: transform 300ms;
}
.links a:hover .icon {
  transform: scale(1.05);
}

.links .id {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid var(--lneutral-light);
  border-radius: 0 8px 8px 0;
  transition: background-color 300ms;
}
.links a:hover .id {
  background-color: var(--white);
}

.links svg {
  display: block;
  width: var(--px40);
  height: var(--px40);
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    gap: var(--px24);
  }

  .title,
  .links {
    grid-column: initial;
  }
}
