.container {
  display: flex;
  gap: var(--px8);
  align-items: center;
  padding: var(--px4) var(--px12);
  padding-right: var(--px12);
  border: 1px solid var(--secondary-xdark);
  border-radius: 12px;
  cursor: default;
}

.container button {
  width: var(--px20);
  height: var(--px20);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 4px;
  transition: background-color 300ms;
  cursor: pointer;
}
.container button:hover,
.container button:focus {
  background-color: var(--secondary-xlight);
}

.container svg {
  width: var(--px12);
}
