.productListRoute {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--px20);
  padding-top: var(--px40);
  padding-bottom: var(--px40);
}

.topMenu {
  display: grid;
  grid-template-columns: 1fr max-content auto;
  align-items: center;
  gap: var(--px12) var(--px8);
  grid-column: 2;
}

.filtersBreadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: var(--px8) var(--px12);
}

.filterBtn {
  display: none; /* flex in mobile */
  align-items: center;
  gap: var(--px12);
  padding: var(--px8);
  border: 1px solid var(--lneutral-light);
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms;
}
.filterBtn:hover,
.filterBtn:focus {
  background-color: var(--lneutral-light);
}

.filterBtn svg {
  width: var(--px20);
}

.badFilter {
  margin-top: var(--px16);
  margin-bottom: 20rem;
  text-align: center;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: var(--px8);
  grid-row: 2;
}

@media (max-width: 1100px) {
  .productListRoute {
    grid-template-columns: 1fr 4fr;
  }
}

@media (max-width: 900px) {
  .productListRoute {
    grid-template-columns: 1fr;
  }

  .topMenu {
    grid-template-columns: 1fr auto auto;
    grid-column: initial;
  }

  .filtersBreadcrumb {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .filterBtn {
    display: flex;
  }
}

@media (max-width: 500px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
