.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: var(--px8);
  grid-row: 2;
}

@media (max-width: 500px) {
  .list {
    grid-template-columns: 1fr;
  }
}
