.container {
  display: grid;
  grid-template-columns: 1fr max-content auto;
  align-items: center;
  gap: var(--px12) var(--px8);
  grid-column: 2;
}

.itemsDisplayed {
  text-align: right;
}

.filterBtn {
  display: none; /* flex in mobile */
  align-items: center;
  gap: var(--px12);
  padding: var(--px8);
  border: 1px solid var(--lneutral-light);
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms;
}
.filterBtn:hover,
.filterBtn:focus {
  background-color: var(--lneutral-light);
}

.filterBtn svg {
  width: var(--px20);
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr max-content auto auto;
    grid-column: initial;
  }

  .filterBtn {
    display: flex;
  }
}

