.container {
  grid-row: 2;
}

.closeButton {
  width: var(--px40);
  height: var(--px40);
  display: none; /* flex in media query */
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  left: 20rem;
  top: var(--px16);
  pointer-events: none;
}

.closeButton svg {
  width: var(--px12);
  height: var(--px24);
  transform: translateX(-1px);
}

.categories {
  margin-bottom: var(--px16);
  padding-bottom: var(--px16);
  border-bottom: 1px solid var(--lneutral);
}

.categories > h2 {
  margin-bottom: var(--px8);
}

.cleanButton {
  width: 100%;
  margin-bottom: var(--px20);
  padding: var(--px4) 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms;
}
.cleanButton:hover,
.cleanButton:focus {
  background-color: var(--lneutral);
  color: var(--dneutral);
}

.prices {
  margin-bottom: var(--px16);
}

.prices > h2 {
  margin-bottom: var(--px8);
}

.pricesFieldset {
  display: flex;
  flex-direction: column;
  gap: var(--px4);
}

.prices > em {
  text-align: right;
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    transition: opacity 400ms;
  }
  .container[data-expanded="true"] {
    opacity: 1;
    pointer-events: all;
  }

  .closeButton {
    display: flex;
  }

  .filters {
    width: max-content;
    height: 100%;
    padding: var(--px16);
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: translate 400ms;
    overflow-y: auto;
    translate: -101%;
  }
  .filters[data-expanded="true"] {
    translate: 0%;
  }
}
