.container {
  display: grid;
  grid-template-columns: 4rem auto;
  align-items: center;
  position: relative;
  margin-bottom: var(--px8);
  row-gap: var(--px4);
}

.container label {
  display: block;
  width: 100%;
  position: relative;
}
.container label::after {
  content: "R$";
  position: absolute;
  color: var(--lneutral-dark);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + var(--px8));
}

.container input {
  width: 100%;
  padding: var(--px4) var(--px8);
  padding-left: 1.8rem; /* ~ 29px */
  border: 1px solid var(--lneutral-light);
  border-radius: 4px;
  transition: background-color 300ms;
}
.container input:hover,
.container input:focus {
  background-color: white;
}
.container input::placeholder {
  color: var(--lneutral-dark);
}

.container em {
  display: block;
  grid-column: 1/-1;
  text-align: right;
}
