.field {
  margin-bottom: var(--px16);
}

.field legend {
  margin-bottom: var(--px4);
}

.field label {
  display: flex;
  align-items: center;
  gap: var(--px8);
  padding: var(--px4) var(--px8);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background-color 300ms;
}
.field label:hover,
.field label:focus-within {
  background-color: var(--lneutral-light);
}

.field label::before {
  content: "";
  width: var(--px16);
  height: var(--px16);
  display: inline-block;
  outline: 1px solid var(--secondary);
  border-radius: 4px;
}
.field label[data-ischecked="true"]::before { 
  width: var(--px8);
  height: var(--px8);
  background-color: var(--secondary);
  border: var(--px4) solid white;
}

.field input {
  width: var(--px16);
  height: var(--px16);
  position: absolute;
  opacity: 0;
}
