.container label {
  display: block;
  margin-bottom: var(--px4);
}

.container input {
  width: 100%;
  margin-bottom: var(--px4);
  padding: var(--px8) var(--px16);
  border: 1px solid var(--lneutral-light);
  border-radius: var(--px4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  transition: 300ms background-color;
}
.container input:hover {
  background-color: white;
}
.container input:focus {
  outline: 2px solid var(--lneutral-light);
  outline-offset: 1px;
  background-color: white;
}

.container em {
  display: block;
  text-align: right;
}
