.productListRoute {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--px16);
  padding-top: var(--px40);
  padding-bottom: var(--px40);
}

.topMenu {
  display: grid;
  grid-template-columns: 1fr max-content auto;
  align-items: center;
  gap: var(--px16);
  grid-column: 2;
}

.filtersBreadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: var(--px8) var(--px12);
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--px8);
  grid-row: 2;
}
