.container {
  width: 100%;
  padding: var(--px32) var(--px24);
  border: 1px solid var(--lneutral-light);
  border-radius: var(--px8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: var(--px40);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--px20);
  margin-bottom: var(--px64);
}

.passwordAlert {
  display: flex;
  gap: var(--px8);
  justify-content: center;
  align-items: center;
  margin-bottom: var(--px16);
}

.passwordAlert svg {
  transform: translateY(-3px);
}

.submitBtn {
  width: 100%;
  margin-bottom: var(--px16);
  padding: var(--px12) 0;
  border-radius: var(--px8);
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: 300ms background-color;
}
.submitBtn:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}
.submitBtn:hover {
  background-color: var(--primary-dark);
}
.submitBtn:disabled {
  background-color: var(--lneutral-dark);
  color: var(--dneutral-light);
  box-shadow: none;
  cursor: not-allowed;
}

.loginLink {
  text-align: center;
}

.loginLink a {
  text-decoration: underline;
}
.loginLink a:hover,
.loginLink a:focus {
  color: var(--secondary);
}
