.container {
  position: relative;
}

.container label {
  display: block;
  margin-bottom: var(--px4);
}

.container input {
  width: 100%;
  margin-bottom: var(--px4);
  padding: var(--px8) var(--px16);
  padding-right: 3rem; /* 48px */
  border: 1px solid var(--lneutral-light);
  border-radius: var(--px4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  transition: 300ms background-color;
}
.container input:hover {
  background-color: white;
}
.container input:focus {
  outline: 2px solid var(--lneutral-light);
  outline-offset: 1px;
  background-color: white;
}

.container button {
  padding: var(--px8);
  border-radius: var(--px8);
  background: none;
  cursor: pointer;
  position: absolute;
  right: var(--px4);
  bottom: var(--px8);
}
.container button:focus {
  background-color: var(--lneutral-light);
}

.container svg {
  width: var(--px24);
  height: var(--px16);
}

.dash {
  opacity: 0;
  transition: 200ms opacity;
}

.dash.show {
  opacity: 1;
}

.container p {
  display: block;
  text-align: right;
  position: absolute;
  top: 100%;
  right: 0px;
}
