.container {
  height: var(--px40);
  display: flex;
  gap: var(--px12);
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  transition: background-color 300ms;
}
.container[data-mode="card"] a {
  padding: var(--px8) 0;
  flex: 1;
}
.container[data-mode="checkoutInfo"] a {
  padding: 0 var(--px64);
}
.container a:hover {
  background-color: var(--primary-dark);
}
.container a:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.container button {
  height: 100%;
  padding: var(--px8) var(--px16);
  outline: 1px solid var(--lneutral-light);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms;
}
.container button:hover {
  background-color: var(--white);
}
.container button:focus {
  outline: 2px solid var(--lneutral);
  outline-offset: 2px;
}

.container svg {
  width: auto;
  height: 100%;
  display: block;
  transition: transform 300ms;
}
.container button:hover svg {
  transform: scale(1.05);
}
