.container {
  margin-bottom: var(--px32);
}

.descTitle {
  margin-bottom: var(--px12);
}

.description {
  margin-bottom: var(--px32);
}

.description p {
  max-width: 680px;
}

.specTitle {
  margin-bottom: var(--px12);
}

.spec dl div {
  margin-bottom: var(--px8);
}

.spec dt {
  display: inline-block;
  margin-right: var(--px4);
}

.spec dt::after {
  content: ":";
}

.spec dd {
  display: inline-block;
}
