.container {
  margin-bottom: var(--px24);
}

.container > span {
  display: block;
}

.oldPrice {
  text-decoration: line-through;
  margin-bottom: var(--px4);
}

.priceWithDiscont {
  margin-bottom: var(--px8);
}
