.container {
  height: 25rem;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  gap: var(--px16);
}

.selector {
  display: flex;
  flex-direction: column;
  gap: var(--px8);
  margin: 0;
  padding: var(--px8);
  overflow: auto;
  scrollbar-gutter: stable;
}

.selector li {
  display: flex;
  justify-content: center;
}

.selector button {
  width: 6.25rem;
  height: 6.25rem;
  display: block;
  padding: var(--px12);
  background-color: white;
  border: 1px solid var(--lneutral-light);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 300ms;
}
.selector button:focus {
  outline: 2px solid var(--lneutral);
}

.selector button img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 300ms;
}
.selector button:hover img,
.selector button:focus img {
  transform: scale(1.05);
}

.imageContainer {
  height: 25rem;
  padding: var(--px40);
}

.imageContainer img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .container {
    height: auto;
    align-items: flex-start;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .selector {
    max-width: 100%;
    grid-row: 2;
    flex-direction: row;
    padding-bottom: 8px;
  }

  .selector li {
    flex-shrink: 0;
  }
}
