.product {
  padding-top: var(--px32);
  padding-bottom: var(--px64);
}

.title {
  margin-bottom: var(--px32);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--px16);
  margin-bottom: var(--px32);
}

.relatedProducts ul {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  gap: var(--px16);
  margin-bottom: var(--px32);
  padding-bottom: var(--px8);
  overflow-x: auto;
  scroll-behavior: smooth;
}

.description {
  margin-bottom: var(--px32);
}

.description p {
  max-width: 680px;
}

@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .relatedProducts ul {
    grid-template-columns: repeat(4, 360px);
  }
}
