.title {
  margin-bottom: var(--px12);
}

.specSheet dl div {
  margin-bottom: var(--px8);
}

.specSheet dt {
  display: inline-block;
  margin-right: var(--px4);
}

.specSheet dt::after {
  content: ":";
}

.specSheet dd {
  display: inline-block;
}
