.container {
  display: flex;
  gap: var(--px12);
  padding: var(--px12);
  padding-top: 0px;
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: var(--px8) 0;
  border-radius: 4px;
  text-align: center;
  transition: background-color 300ms;
}
.container a:hover {
  background-color: var(--primary-dark);
}
.container a:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.container button {
  padding: var(--px8) var(--px12);
  outline: 1px solid var(--lneutral-light);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms;
}
.container button:hover {
  background-color: var(--white);
}
.container button:focus {
  outline: 2px solid var(--lneutral);
  outline-offset: 2px;
}

.container svg {
  height: 100%;
  display: block;
  transition: transform 300ms;
}
.container button:hover svg {
  transform: scale(1.05);
}

