.container {
  margin: var(--px32) auto;
}

.title {
  width: 100%;
  height: 3.5rem;
  margin-bottom: var(--px16);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--px16);
}

.card {
  height: 31.875rem;
}

@media (max-width: 500px) {
  .card {
    height: 18.6875rem;
  }
}

