.priceSelection {
  margin-bottom: var(--px16);
}

.priceSelection h2 {
  margin-bottom: var(--px8);
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--px8);
  align-items: center;
  padding-left: var(--px8);
  position: relative;
}

.container label {
  display: block;
  position: relative;
}
.container label::before {
  content: "R$";
  position: absolute;
  left: calc(100% + var(--px16));
  color: var(--lneutral-dark);
}
.container label.error::after {
  content: "";
  width: var(--px16);
  height: var(--px16);
  display: block;
  background-image: url(../../assets/svg/error.svg);
  background-size: 100%;
  position: absolute;
  left: calc(100% + 12rem);
  top: 50%;
  transform: translateY(-50%);
}

.container input {
  padding: var(--px4) var(--px8);
  padding-left: 1.8rem; /* ~ 29px */
  border: 1px solid var(--lneutral-light);
  border-radius: 4px;
  transition: background-color 300ms;
}
.container input:hover,
.container input:focus {
  background-color: white;
}
.container input::placeholder {
  color: var(--lneutral-dark);
}

.container > span {
  position: absolute;
  top: calc(100% + var(--px4));
  right: 0px; 
}
