.container {
  position: relative;
}

.container svg {
  width: var(--px20);
  height: var(--px20);
  position: absolute;
  right: var(--px8);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select {
  width: 11rem;
  padding: var(--px8);
  border-radius: 4px;
  border: 1px solid var(--lneutral-light);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: 300ms background-color;
}
.select:hover,
.select:focus {
  background-color: var(--lneutral);
  color: var(--dneutral);
}
