.productFilter {
  grid-row: 2;
}

.categorySelection > h2 {
  margin-bottom: var(--px8);
}

.categorySelection {
  border-bottom: 1px solid var(--lneutral);
  padding-bottom: var(--px16);
  margin-bottom: var(--px16);
}

.categoryInput label {
  display: block;
  padding: var(--px4) var(--px8);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background-color 300ms;
}
.categoryInput label:hover,
.categoryInput label:focus {
  background-color: var(--lneutral-light);
}

.categoryInput label:global(.selected) {
  background-color: var(--secondary-light);
  color: var(--secondary-xdark);
}

.categoryInput input {
  width: var(--px16);
  height: var(--px16);
  position: absolute;
  opacity: 0;
}

.cleanButton {
  width: 100%;
  margin-bottom: var(--px20);
  padding: var(--px4) 0;
  border: 1px solid var(--secondary-xdark);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 300ms;
}
.cleanButton:hover,
.cleanButton:focus {
  background-color: var(--lneutral-xlight);
}
