.productSale {
  margin: var(--px32) auto;
}

.title h2 {
  margin-bottom: var(--px16);
  padding: var(--px8) var(--px16);
  padding-right: var(--px40);
  border-radius: 4px;
  background: var(--dneutral-dark) url("../../assets/svg/logoLine.svg") center
    right no-repeat;
  background-size: auto 100%;
  transition: background-color 300ms, padding-left 300ms;
}
.title:hover h2,
.title:focus h2 {
  background-color: var(--dneutral-xdark);
  padding-left: var(--px20);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--px16);
}

@media (max-width: 700px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products {
    grid-template-columns: 1fr;
  }
}
