.product {
  padding-top: var(--px32);
  padding-bottom: var(--px64);
}

.title {
  margin-bottom: var(--px32);
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--px16);
  margin-bottom: var(--px32);
}

.relatedProducts ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--px16);
  margin-bottom: var(--px32);
}

.description p {
  max-width: 680px;
}

@media (max-width: 950px) {
  .relatedProducts ul {
    display: flex;
    overflow-x: auto;
    padding-bottom: var(--px8);
    scroll-behavior: smooth;
  }

  .relatedProducts article {
    width: 18rem;
    min-width: 18rem;
  }
}

@media (max-width: 700px) {
  .product {
    padding-top: 4.5rem;
  }

  .main {
    grid-template-columns: 1fr;
  }
}

