.productSelection {
  margin: var(--px64) auto;
}

.titleWithLine {
  margin-bottom: var(--px20);
  position: relative;
}
.titleWithLine::before {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--secondary);
  position: absolute;
  top: 50%;
  z-index: 1;
}

.title {
  display: inline-block;
  margin-left: var(--px32);
  padding: 0 var(--px12);
  background-color: white;
  position: relative;
  z-index: 2;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--px12);
}

@media (max-width: 700px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products {
    grid-template-columns: 1fr;
  }
}
