.container {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin-block: 2rem;
  position: relative;
}

.skeletonLoading {
  width: 100%;
  min-height: 12.5rem;
}

.skeletonLoadingImage {
  width: 100%;
  min-height: 200px;
  position: absolute;
  inset: 0;
}

.banner img {
  display: block;
}

@media (max-width: 1366px) {
  .skeletonLoading,
  .skeletonLoadingImage {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .skeletonLoading,
  .skeletonLoadingImage {
    height: 300px;
  }
}
