.container {
  width: 100%;
  border: 1px solid var(--lneutral-light);
  border-radius: 8px;
  transition: border-color 300ms;
  position: relative;
}
.container:hover {
  border-color: var(--secondary-light);
}
.container:focus-within {
  outline: 2px solid var(--secondary-dark);
  outline-offset: 2px;
}

.link {
  display: block;
  padding-bottom: var(--px20);
}

.saleDiscont {
  padding: var(--px4) var(--px8);
  border-radius: 4px;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);
  position: absolute;
  left: var(--px8);
  top: var(--px8);
  z-index: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 var(--px12);
}

.thumb {
  height: 13.5rem;
  padding: var(--px24);
}

.thumb img {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto;
  transition: transform 300ms;
}
.container:hover img {
  transform: scale(1.03);
}

.name {
  height: 3.75rem;
  display: -webkit-box;
  margin-bottom: var(--px16);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 7fr 13fr;
    align-items: center;
    gap: var(--px8);
  }

  .thumb {
    height: 9rem;
    padding: var(--px12);
  }

  .name {
    height: 4.5rem;
    font-size: 1rem;
    line-height: var(--px24);
  }
}
