.footer {
  padding-top: var(--px64);
  padding-bottom: var(--px32);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--px32);
  margin-bottom: var(--px24);
}

.categories h3 {
  margin-bottom: var(--px12);
}

.categories a {
  display: block;
  padding: var(--px8);
  position: relative;
  transition: background-color 300ms;
}
.categories a:hover {
  background-color: var(--dneutral-xdark);
}
.categories a::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--dneutral);
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.categories li:last-child a::after {
  display: none;
}

.institutional h3 {
  margin-bottom: var(--px12);
}

.institutional a {
  display: block;
  padding: var(--px8);
  text-decoration: underline;
}
.institutional a:hover {
  color: var(--lneutral);
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.social h3 {
  display: block;
  margin-bottom: var(--px16);
}

.links {
  display: flex;
  gap: var(--px16);
}

.social a {
  display: flex;
  padding: var(--px8);
  border-radius: var(--px8);
  transition: background-color 300ms;
}
.social a:hover,
.social a:focus {
  background-color: var(--lneutral-xdark);
}

.social > img {
  width: 13rem;
}

.legalInfo {
  display: block;
  text-align: center;
}

@media (max-width: 700px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    margin-bottom: var(--px32);
  }

  .social {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
  }
  .social > img {
    width: 10rem;
  }
}
