.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding-top: var(--px16);
  padding-bottom: var(--px16);
}

.logo {
  grid-column: span 2;
}

.logo img {
  width: 9.06rem; /* ~145px */
}

.search {
  grid-column: span 5;
  padding: var(--px8) var(--px16);
  border-radius: var(--px4);
}
.search:hover,
.search:focus {
  background-color: var(--lneutral-light);
}

.shortcuts {
  display: flex;
  gap: var(--px24);
  grid-column: 11 / span 2;
  justify-self: end;
}

.shortcuts a {
  padding: --px4;
  transition: transform 200ms;
}
.shortcuts a:hover {
  transform: scale(1.1);
}

.shortcuts img {
  width: var(--px32);
}

@media (max-width: 970px) {
  .content {
    display: flex;
    justify-content: space-between;
    gap: var(--px32);
  }

  .logo img {
    width: 8rem;
  }

  .search {
    flex-grow: 1;
  }
}

@media (max-width: 700px) {
  .contentContainer {
    height: 4.8rem;
    overflow-y: hidden;
  }
  .contentContainer.open {
    height: initial;
    overflow-y: initial;
  }

  .content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: var(--px16) var(--px32);
  }

  .logo,
  .shortcuts {
    grid-column: initial;
  }

  .logo img {
    width: 6rem;
  }

  .search {
    grid-column: span 2;
  }
}
