.container {
  width: 40rem;
  position: fixed;
  z-index: 6;
  left: calc(max(calc((100% - 1406px) / 2), 0px) + 12.5rem);
  top: 1.3125rem;
}
.container::after {
  content: "";
  width: var(--px24);
  height: var(--px24);
  display: block;
  background-image: url("../../assets/svg/search.svg");
  background-size: 100%;
  position: absolute;
  right: var(--px12);
  top: var(--px8);
  transition: translate 200ms;
}
.container[data-loading="true"]::after {
  width: var(--px16);
  height: var(--px16);
  background: none;
  border: 2px solid var(--lneutral-dark);
  border-left-color: transparent;
  border-radius: 50%;
  animation: loading 1s infinite linear;
  translate: 0 2px;
}

.input {
  width: 100%;
  padding: var(--px8) 2.75rem var(--px8) var(--px16);
  border-radius: 4px;
  transition: background-color 300ms;
}
.input:hover {
  background-color: white;
}
.input[data-showingsuggestions="false"]:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}
.input[data-showingsuggestions="true"] {
  border-radius: 4px 4px 0 0;
}
.input::placeholder {
  color: var(--lneutral-xdark);
}

@media (max-width: 1100px) {
  .container {
    width: auto;
    right: 25.56rem;
  }
}

@media (max-width: 700px) {
  .container {
    top: 5.4rem;
    right: 1.25rem;
    left: 6.3rem;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
