body {
  margin-top: 7.625rem;
}

.shadow {
  width: 100%;
  height: 7.625rem;
  position: fixed;
  inset: 0;
  box-shadow: 0 0 8px rgb(0 0 0 / 40%);
  pointer-events: none;
  z-index: 4;
  transition: height 300ms;
}

.container {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  transition: clip-path 300ms;
}

.wrapper {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  gap: var(--px40);
  align-items: center;
  padding-block: var(--px16);
}

.mobileMenuBtn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: var(--px12);
  background: none;
  border-radius: var(--px16);
  cursor: pointer;
}

.mobileMenuBtn svg {
  width: var(--px32);
}

.logo {
  width: 8.75rem;
  height: 3.125rem;
  transition: scale 200ms;
}
.logo:hover,
.logo:focus {
  scale: 1.025;
}

.logo svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 970px) {
  .wrapper {
    gap: var(--px32);
  }
}

@media (max-width: 700px) {
  body {
    margin-top: 9.4rem;
  }

  .shadow[data-expanded="false"] {
    height: 9.4rem;
  }
  .shadow[data-expanded="true"] {
    height: 32.1rem;
  }

  .container[data-expanded="false"] {
    clip-path: inset(0 0 calc(100% - 9.4rem) 0);
  }
  .container[data-expanded="true"] {
    clip-path: inset(0);
  }

  .mobileMenuBtn {
    display: flex;
    justify-self: start;
  }

  .wrapper {
    grid-template-columns: auto 1fr;
    gap: var(--px12) var(--px32);
  }

  .logo {
    justify-self: center;
    grid-column: 1/-1;
  }
}
