.container {
  width: min(100%, 40rem);
  position: relative;
}
.container::after {
  content: "";
  width: var(--px24);
  height: var(--px24);
  display: block;
  background-image: url("../../assets/svg/search.svg");
  background-size: 100%;
  position: absolute;
  right: var(--px12);
  top: var(--px8);
  transition: transform 200ms;
}
.container.loading::after {
  width: var(--px20);
  height: var(--px20);
  background: none;
  border: 2px solid var(--lneutral-dark);
  border-left-color: transparent;
  border-radius: 50%;
  animation: rotation360 1s infinite linear;
}

.input {
  width: 100%;
  padding: var(--px8) 2.75rem var(--px8) var(--px16);
  border-radius: 4px;
}
.input:hover,
.input:focus {
  background-color: white;
}

.input.opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.contentContainer {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  z-index: 10;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.error {
  padding: var(--px4);
  text-align: center;
}

.list a {
  display: block;
  padding: var(--px4) var(--px16);
  border-bottom: 1px solid var(--lneutral-light);
}
.list a:hover,
.list a:focus {
  background-color: var(--lneutral-light);
}

.moreItemsLink {
  display: block;
  text-decoration: underline;
  text-align: center;
  padding: var(--px8);
}
.moreItemsLink:hover,
.moreItemsLink:focus {
  background-color: var(--lneutral-light);
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}

@keyframes rotation360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
