.container {
  display: flex;
  align-items: center;
  gap: var(--px12);
  grid-column: 3;
}

.container svg {
  width: var(--px32);
  height: var(--px32);
}

.container a {
  display: inline-block;
  text-align: center;
  position: relative;
  transition: color 300ms;
}
.container a:hover,
.container a:focus {
  color: var(--primary-xdark);
}
.container a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--lneutral-xlight);
  position: absolute;
  left: 0;
  bottom: 3px;
  transition: background-color 300ms;
}
.container a:hover::after,
.container a:focus::after {
  background-color: var(--primary-xdark);
}

@media (max-width: 700px) {
  .headerUserLinks {
    grid-column: initial;
    grid-row: 3;
  }
}
