.headerUserLinks {
  display: flex;
  align-items: center;
  gap: var(--px12);
  grid-column: 9 / span 2;
}

.headerUserLinks svg {
  width: var(--px32);
}

.headerUserLinks a {
  text-decoration: underline;
}
.headerUserLinks a:hover {
  color: var(--lneutral-light);
}

@media (max-width: 700px) {
  .headerUserLinks {
    grid-column: span 2;
  }
}
