.container {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.wrapper {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  gap: var(--px40);
  align-items: center;
  padding-top: var(--px16);
  padding-bottom: var(--px16);
}

.logo {
  transition: max-height 400ms, opacity 400ms;
}

.logo svg {
  width: 9.06rem; /* ~145px */
}

.shortcuts {
  display: flex;
  gap: var(--px24);
  justify-self: end;
}

.shortcuts a {
  padding: var(--px4);
  transition: transform 200ms;
}
.shortcuts a:hover,
.shortcuts a:focus {
  transform: scale(1.1);
}

.shortcuts svg {
  width: var(--px32);
}

.hideOnMobile {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  align-items: center;
  overflow: hidden;
  transition: 80ms max-height;
}

.mobileMenuBtn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: var(--px12);
  background: none;
  border-radius: var(--px16);
  cursor: pointer;
}

.mobileMenuBtn svg {
  width: var(--px32);
}

@media (max-width: 970px) {
  .wrapper {
    gap: var(--px32);
  }

  .logo svg {
    width: 8rem;
  }
}

@media (max-width: 700px) {
  .container {
    transition: max-height 400ms;
  }

  .wrapper {
    grid-template-columns: auto 1fr;
    gap: var(--px12) var(--px32);
  }

  .logo {
    justify-self: center;
    grid-column: 1/-1;
  }

  .hideOnMobile {
    display: flex;
    justify-content: space-between;
  }

  .mobileMenuBtn {
    display: flex;
  }
}
