.button {
  width: 100%;
  padding: var(--px12) 0;
  border-radius: var(--px8);
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: 300ms background-color;
}
.button:focus {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}
.button:hover {
  background-color: var(--primary-dark);
}
.button:disabled {
  background-color: var(--lneutral-dark);
  color: var(--dneutral-light);
  box-shadow: none;
  cursor: not-allowed;
}
