.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--px32);
  padding-block: var(--px64);
}

.navigationContainer {
  padding-block: var(--px20);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.navigationContainer p {
  margin-bottom: var(--px16);
  padding-inline: var(--px24);
}

.listItem a {
  display: flex;
  align-items: center;
  gap: var(--px16);
  padding: var(--px12) var(--px24);
}
.listItem a.active {
  background-color: var(--primary);
  color: var(--lneutral-xlight);
}

.listItem svg * {
  fill: var(--lneutral-xdark);
}

.listItem a.active svg * {
  fill: var(--lneutral-xlight);
}

