@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  src: url("./assets/fonts/PublicSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 500;
  src: url("./assets/fonts/PublicSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  src: url("./assets/fonts/PublicSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Bungee";
  font-weight: 400;
  src: url("./assets/fonts/Bungee-Regular.woff2") format("woff2");
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  --primary-xlight: #ffc2c2;
  --primary-light: #f27d7d;
  --primary: #eb3832;
  --primary-dark: #af1510;
  --primary-xdark: #5d0603;
  --secondary-xlight: #f9eac3;
  --secondary-light: #f3d279;
  --secondary: #ffc107;
  --secondary-dark: #c99b02;
  --secondary-xdark: #774e03;
  --lneutral-xlight: #f9f7f7;
  --lneutral-light: #eeecec;
  --lneutral: #cfc9c9;
  --lneutral-dark: #afafab;
  --lneutral-xdark: #929292;
  --dneutral-xlight: #888383;
  --dneutral-light: #5e5a5a;
  --dneutral: #3f3c3c;
  --dneutral-dark: #2c2a2a;
  --dneutral-xdark: #222020;
  --feedback-positive: #31bc07;
  --primary-gradient: linear-gradient(to bottom, #ffc107, #f29603);

  --px4: 0.25rem;
  --px8: 0.5rem;
  --px12: 0.75rem;
  --px16: 1rem;
  --px20: 1.25rem;
  --px24: 1.5rem;
  --px32: 2rem;
  --px40: 2.5rem;
  --px64: 4rem;
  --px100: 6.25rem;

  --primary-font: "Public Sans", "Arial", sans-serif;
  --display-font: "Bungee", "Arial", sans-serif;
}

@media (max-width: 1366px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 12px;
  }
}

body {
  padding-top: 8.2rem;
}
@media (max-width: 970px) {
  body {
    padding-top: 7.85rem;
  }
}
@media (max-width: 700px) {
  body {
    padding-top: 4.8rem;
  }
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

svg {
  height: auto;
}

.primary-xlight {
  color: var(--primary-xlight);
}
.bg-primary-xlight {
  background-color: var(--primary-xlight);
}
.primary-light {
  color: var(--primary-light);
}
.bg-primary-light {
  background-color: var(--primary-light);
}
.primary {
  color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.primary-dark {
  color: var(--primary-dark);
}
.bg-primary-dark {
  background-color: var(--primary-dark);
}
.primary-xdark {
  color: var(--primary-xdark);
}
.bg-primary-xdark {
  background-color: var(--primary-xdark);
}
.secondary-xlight {
  color: var(--secondary-xlight);
}
.bg-secondary-xlight {
  background-color: var(--secondary-xlight);
}
.secondary-light {
  color: var(--secondary-light);
}
.bg-secondary-light {
  background-color: var(--secondary-light);
}
.secondary {
  color: var(--secondary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.secondary-dark {
  color: var(--secondary-dark);
}
.bg-secondary-dark {
  background-color: var(--secondary-dark);
}
.secondary-xdark {
  color: var(--secondary-xdark);
}
.bg-secondary-xdark {
  background-color: var(--secondary-xdark);
}
.lneutral-xlight {
  color: var(--lneutral-xlight);
}
.bg-lneutral-xlight {
  background-color: var(--lneutral-xlight);
}
.lneutral-light {
  color: var(--lneutral-light);
}
.bg-lneutral-light {
  background-color: var(--lneutral-light);
}
.lneutral {
  color: var(--lneutral);
}
.bg-lneutral {
  background-color: var(--lneutral);
}
.lneutral-dark {
  color: var(--lneutral-dark);
}
.bg-lneutral-dark {
  background-color: var(--lneutral-dark);
}
.lneutral-xdark {
  color: var(--lneutral-xdark);
}
.bg-lneutral-xdark {
  background-color: var(--lneutral-xdark);
}
.dneutral-xlight {
  color: var(--dneutral-xlight);
}
.bg-dneutral-xlight {
  background-color: var(--dneutral-xlight);
}
.dneutral-light {
  color: var(--dneutral-light);
}
.bg-dneutral-light {
  background-color: var(--dneutral-light);
}
.dneutral {
  color: var(--dneutral);
}
.bg-dneutral {
  background-color: var(--dneutral);
}
.dneutral-dark {
  color: var(--dneutral-dark);
}
.bg-dneutral-dark {
  background-color: var(--dneutral-dark);
}
.dneutral-xdark {
  color: var(--dneutral-xdark);
}
.bg-dneutral-xdark {
  background-color: var(--dneutral-xdark);
}
.feedback-positive {
  color: var(--feedback-positive);
}
.bg-feedback-positive {
  background-color: var(--feedback-positive);
}
.primary-gradient {
  color: var(--primary-gradient);
}
.bg-primary-gradient {
  background-color: var(--primary-gradient);
}
.white {
  color: white;
}
.bg-white {
  background-color: white;
}
.black {
  color: black;
}
.bg-black {
  background-color: black;
}

.text-small {
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: var(--px20);
  font-weight: 400;
}

.text-small-b {
  font-family: var(--primary-font);
  font-size: 0.875rem;
  line-height: var(--px20);
  font-weight: 700;
}

.text-default {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: var(--px24);
  font-weight: 400;
}

.text-default-b {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: var(--px24);
  font-weight: 700;
}

.text-large {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  line-height: var(--px32);
  font-weight: 400;
}

.text-large-m {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  line-height: var(--px32);
  font-weight: 500;
}

.text-verylarge {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  line-height: var(--px32);
  font-weight: 400;
}

.text-verylarge-m {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  line-height: var(--px32);
  font-weight: 500;
}

.text-display {
  font-family: var(--display-font);
  font-size: 1.5rem;
  line-height: var(--px32);
  font-weight: 400;
}

.defaultContainer {
  max-width: 1406px;
  width: 100%;
  margin: 0 auto;
  padding: 0px var(--px20);
}
