.title {
  margin-bottom: var(--px24);
}

.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, 1fr));
  gap: var(--px16);
  margin-bottom: var(--px32);
  padding-bottom: var(--px8);
  overflow-x: auto;
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  .list {
    grid-template-columns: repeat(4, 360px);
  }
}

